/*xxxxxxxxxx| Consola |xxxxxxxxxx*/

.hidden {
    opacity: 0;
}

.console-underscore {
    display: inline-block;
    position: relative;
    font-family: 'Ubuntu', cursive;
}

/*xxxxxxxxxx| Hero |xxxxxxxxxx*/

.hero {
    min-height: 100vh;
    text-align: center;
}

.hero-principal {
    padding: 4rem 3rem 3rem 3rem;
}

.hero-principal h1 {
    background-color: transparent;
    font-size: 2.5rem;
    /*color: rgb(5, 148, 5);*/
    color: #a20029;
    font-family: 'Oswald', sans-serif;
}

.hero-principal h2 {
    font-size: 1.6rem;
    /*color: #ffffff;*/
    /*color: silver;*/
    font-family: 'Indie Flower', cursive;
}