.navbar {
    padding-top: 0.1rem;
    /*padding-left: 25px;*/
    background-color: rgba(0, 0, 0, 0.801);
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

.nav-item-text {
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
}